.menu-link {
    display: inline-block;
    position: relative;
    padding: .5em 0;
    color: #222;
    line-height: 1.5em;
    font-size: 15px;
    font-family: "Jost", sans-serif;
    cursor: pointer;
}

.rc-slider-track,
.rc-slider-tracks {
    background-color: #896d60 !important;
}

.rc-slider-handle {
    border: 2px solid #896d60 !important;
}

.filter-tag {
    background-color: rgb(137 109 96 / 40%);
    border: 2px solid #896d60 !important;
    color: #534d4a !important;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
